In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Database connection
from sqlalchemy import create_engine

In [2]:
# Database credentials
# NOTE: Password will be moved to environment variables in Week-4
DB_USER = "root"
DB_PASSWORD = "1433"
DB_HOST = "localhost"
DB_NAME = "financial_analytics"

# Create SQLAlchemy engine for MySQL connection
engine = create_engine(
    f"mysql+mysqlconnector://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
)

In [3]:
# Load certified market price data from MySQL
query = """
SELECT asset_id, trade_date, adj_close
FROM market_prices
ORDER BY asset_id, trade_date
"""

df = pd.read_sql(query, engine)

# Convert trade_date to datetime for time-series operations
df["trade_date"] = pd.to_datetime(df["trade_date"])

df.head()

   asset_id trade_date  adj_close
0         1 2019-01-02  37.538822
1         1 2019-01-03  33.799679
2         1 2019-01-04  35.242561
3         1 2019-01-07  35.164124
4         1 2019-01-08  35.834446

In [4]:
# Check for missing values
df.isnull().sum()

asset_id      0
trade_date    0
adj_close     0
dtype: int64

In [5]:
# Ensure one row per asset per day
df.duplicated(subset=["asset_id", "trade_date"]).sum()

np.int64(0)